<h1>Admin: Dashboard</h1>
<div class="well">
<h3> There are a total of <%= @categories %> categories </h3>

<h3> There are a total of <%= @products%> products </h3>

<br>

<%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
</div>


